<div class="grid">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <form onsubmit="return false">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                    matInput
                    placeholder="ByAny@Means.Necessary"
                    [formControl]="email"
                />
                <mat-error *ngIf="email.invalid">{{
                    emailInputMessage()
                }}</mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button
                    type="submit"
                    [disabled]="disableSend"
                    (click)="submit()"
                    color="primary"
                    mat-flat-button
                >
                    Send Email
                </button>
            </mat-card-actions>
        </form>
        <mat-card-footer>
            <mat-card-content>{{ feedbackMessage }}</mat-card-content>
        </mat-card-footer>
    </mat-card>
</div>
