.center-container {
    height: 100%;
    display: flex;
    .mat-card {
        width: 24rem;
        height: 14rem;
        margin: auto; // Centering in a flexbox

        padding: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        :last-child {
            margin-top: auto;
        } // Push text to the bottom
    }
}

// Currently just holds the login button
.mat-card-actions {
    display: flex;
    button {
        margin: auto;
    }
}

.mat-card-content {
    p {
        text-align: center;
        white-space: pre-line; // Don't ignore newlines
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    .fadeIn {
        opacity: 1;
    }
}
