.grid {
    justify-content: center;
    align-content: center;
    display: grid;
    margin: 2rem;
    grid-template-columns: minmax(1rem, 30rem);
    grid-gap: 10px;
}

.mat-card {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
}

.mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}