/* You can add global styles to this file, and also import other style files */


// For the font
$config: mat.define-typography-config(
    $font-family: "Fira Code, sans-serif",
);
@include mat.core($config);

// Available color palettes: https://material.io/design/color/

// For the theme
$primary: mat.define-palette(mat.$deep-purple-palette, 800);
$accent: mat.define-palette(mat.$amber-palette, 800);
// The warn palette is optional (defaults to red).
$theme: mat.define-dark-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            //warn: $warn,
        ),
    )
);

$green: mat.define-palette(mat.$green-palette, 800);

@use '~@angular/material' as mat;
@import "./app/icons/power-icon/power-icon.component.scss";
@import "./app/icons/refresh-icon/refresh-icon.component.scss";
@include mat.all-component-themes($theme);
@include power-icon-theme($theme);
@include refresh-icon-theme($theme);
//Mixins get included here
// These should(?) get mixin-ed?
$background: map-get($theme, background);

html,
body,
app-root {
    height: 100%;
    background-color: mat.get-color-from-palette($background, background);
    margin: 0;
}

app-root {
    display: block;
    padding-top: 4rem;
}

.green {
    background-color: mat.get-color-from-palette($green);
}
