//@mixin server-select-theme($theme) {
//  $config: mat-get-color-config($theme);
//  $background: map-get($config, background);
//
//}
.grid {
    justify-content: center;
    display: grid;
    margin: 1rem;
    grid-template-columns: minmax(1rem, 25rem) minmax(1rem, 25rem) minmax(
            0.5rem,
            25rem
        );
    grid-gap: 10px;
}

.loading-container {
    background-color: rgba(0, 0, 0, 0.33);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;

    //top: 50%;
    //left: 50%;

    //margin-top: -50px;
    //margin-left: -50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    text-align: center;
}

.floating-actions {
    p {
        color: white;
    }
    display: inline-flex;
    flex-direction: row;
    width: 99%;
    position: fixed;
    top: 5rem;
    z-index: 2;
    align-items: baseline;
    justify-content: flex-end;
    gap: 1rem;
}
