<div [ngClass]="doneLoading ? 'hidden' : 'loading-container'">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p>This may take a while...</p>
</div>

<div class="floating-actions">
    <p>{{ statusText }}</p>
    <button (click)="getCardData()" color="accent" mat-raised-button>
        <app-refresh-icon></app-refresh-icon>
    </button>
    <button (click)="signInOut()" color="accent" mat-raised-button>
        {{ signedIn ? "Sign Out" : "Sign In" }}
    </button>
</div>

<div *ngFor="let game of serverData | keyvalue">
    <h2 class="title">
        {{ game.key | titlecase }}
    </h2>
    <div class="grid">
        <app-server-card
            *ngFor="let server of game.value | keyvalue"
            [game]="game.key"
            [server]="server.key"
            [data]="serverData[game.key][server.key]"
            (buttonPressed)="handleCardEvent($event)"
        >
        </app-server-card>
    </div>
</div>
