<app-loading-overlay *ngIf="!doneLoading"></app-loading-overlay>

<div class="floating-actions">
    <p>{{ ServerDataService.statusText | async }}</p>
    <button (click)="refreshCards()" color="accent" mat-raised-button>
        <app-refresh-icon></app-refresh-icon>
    </button>
    <button (click)="signInOut()" color="accent" mat-raised-button>
        {{ signedIn ? "Sign Out" : "Sign In" }}
    </button>
</div>

<div *ngFor="let entry of ServerDataService.iterableServerData | async">
    <h2 class="title">
        {{ entry.game }}
    </h2>
    <div class="grid">
        <app-server-card
            *ngFor="let server of entry.servers"
            [game]="entry.game"
            [data]="server"
            [disable]="disableCards"
            (buttonPressed)="onCardButtonClick($event)"
        >
        </app-server-card>
    </div>
</div>
