//@mixin server-select-theme($theme) {
//  $config: mat-get-color-config($theme);
//  $background: map-get($config, background);
//
//}
.grid {
    justify-content: center;
    display: grid;
    margin: 1rem;
    grid-template-columns: minmax(1rem, 25rem) minmax(1rem, 25rem) minmax(
            0.5rem,
            25rem
        );
    grid-gap: 10px;
}

.loading-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    text-align: center;
}

.floating-actions {
    width: 99%;
    position: fixed;
    top: 5rem;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
