@use '~@angular/material' as mat;
@mixin refresh-icon-theme($theme) {
    $primary: map-get($theme, accent);
    .refresh-icon {
        vertical-align: middle;
        fill: mat.get-color-from-palette($primary, default-contrast);
    }
}
