<mat-card>
    <mat-card-title>{{ data.name }}</mat-card-title>
    <mat-card-content
        >Status: {{ data.is_online ? "On" : "Off" }}</mat-card-content
    >
    <mat-card-content>Port: {{ data.port }}</mat-card-content>
    <mat-card-actions>
        <button
            [ngClass]="{ green: !data.is_online, transition: true }"
            [disabled]="disable || !data.canToggle"
            (click)="submit()"
            [color]="data.is_online ? 'warn' : ''"
            mat-flat-button
        >
            <app-power-icon></app-power-icon>
            {{ data.is_online ? "Turn Off" : "Turn On" }}
        </button>
    </mat-card-actions>
</mat-card>
